.env
.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate
.envrc
postgres_data

__pycache__
/static/
db.sqlite3
Pipfile
virtual-env
*.env
/src/
dist/

*.egg-info/
.idea
.pytest_cache
.python-version
.env
.mypy_cache/
pypd

node_modules
